@use '../tools/mixins';
@use '../design-tokens/colors';

.sidebar-item--container {
    @include mixins.flex-column-centered();
    position: relative;
    height: auto;
    width: 85%;
    border-radius: 0.25rem;
    margin: 0.5rem;
}

.sidebar-item--album {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
}

.sidebar-item--icon:hover {
    color: colors.$text-hover;
}