@use "../design-tokens/_colors";
@use '../tools/mixins';

.sidebar-container {
    height: 100vh;
    width: 6rem;
    padding: 0.2rem;
    background-color: colors.$background-color;
    display: flex;
    flex-direction: column;
}

.sidebar-section {
    background-color: colors.$primary-color;
    @include mixins.flex-column-centered();
    height: auto;
    width: auto;
    margin: 0.4rem;
    padding: 0.4rem;
    color: colors.$text-color;
    border-radius: 0.25rem;
}